<h1 class="text-center">{{title}}</h1>
<div class="container">
    <div class="text-center" style="padding-bottom: 10px;">
        <a class="btn btn-success " href="./movie" target="_blank">新增</a>
    </div>
    <div class="row">
        <table class="table table-hover table-bordered mediaMiddle">
            <thead>
            <tr class="text-center">
                <th>电影名</th>
                <th>导演</th>
                <!--<th>国家</th>-->
                <!--<th>语言</th>-->
                <th>上映年份</th>
                <!--<th>录入时间</th>-->
                <!--<th>更新时间</th>-->
                <th>状态</th>
                <!--<th>删除</th>-->
            </tr>
            </thead>
            <tbody>
            {{#each movieList}}
                <tr class="item-id-{{_id}}">
                    <td>{{title}}</td>
                    <td>{{director}}</td>
                    <!--<td>{{country}}</td>-->
                    <!--<td>{{language}}</td>-->
                    <td>{{year}}</td>
                    <!--<td>{{meta.createAt}}</td>-->
                    <!--<td>{{meta.updateAt}}</td>-->
                    <td>
                        <a class="btn btn-primary" href="./movie?id={{_id}}" target="_blank">查看</a>
                        <button type="button" class="btn btn-danger del" data-id="{{_id}}">删除</button>
                    </td>
                    <!--<td>-->
                    <!---->
                    <!--</td>-->
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>